<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex-1 min-w-0">
              <!-- Breadcrumbs -->
              <div class="flex flex-wrap items-center font-medium">
                  <div>
                      <a class="whitespace-nowrap text-primary-500">Aplicaciones</a>
                  </div>
                  <div class="flex items-center ml-1 whitespace-nowrap">
                      <mat-icon
                          class="icon-size-5 text-secondary"
                          [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                      <a class="ml-1 text-primary-500">Direcciones  / Rutas</a>
                  </div>
              </div>
              <!-- Title -->
              <div class="mt-2">
                  <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                      Asignar Rutas
                  </h2>
              </div>

      </div>
  </div>
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex-1">
          <form class="w-full">
              <div class="flex flex-wrap mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">

                  <input
                          id="pac-input"
                          class="controls"
                          type="text"
                          placeholder="Búsqueda de dirección"
                      />
                      <!-- <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
                      <p class="k-block" style="background-color: #ccc;"> -->
                          <p-button    (click)="calculateRoute()">Calcular Ruta</p-button>
                          <p-button   (click)="regresar()">Regresar</p-button>
                       <!-- </p>
                      </div> -->

                  </div>
              </div>
              <div class="flex flex-nowrap mx-3 mb-6">
                  <div class="w-full px-3 ">

                  <div id="map" style="width:100%;height:400px"></div>
                  <!-- <div id="indicators"></div> -->
                  </div>

              </div>
              <div class="flex flex-nowrap mx-3 mb-6">
                  <div class="w-full">

                    <p-table
                    [value]="gridDataResult"
                    [paginator]="true"
                    [rows]="10"
                    [scrollable]="true"
                    scrollHeight="600px"
                    style="width: 1200px;"
                    [selectionMode]="'multiple'"
                    [(selection)]="selectedItems">
                
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 50px; background-color: #666; color: #fff; line-height: 1em;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="width: 110px; background-color: #666; color: #fff; line-height: 1em;">CLIENTE</th>
                            <th style="width: 80px; background-color: #666; color: #fff; line-height: 1em;">OT</th>
                            <th style="width: 80px; background-color: #666; color: #fff; line-height: 1em;">FEC. CARGA</th>
                            <th style="width: 90px; background-color: #666; color: #fff; line-height: 1em;">ESTADO</th>
                            <th style="width: 90px; background-color: #666; color: #fff; line-height: 1em;">ORDEN DE ENTREGA</th>
                            <th style="width: 110px; background-color: #666; color: #fff; line-height: 1em;">PROVINCIA ENTREGA</th>
                            <th style="width: 150px; background-color: #666; color: #fff; line-height: 1em;">MANIFIESTO</th>
                        </tr>
                    </ng-template>
                
                    <ng-template pTemplate="body" let-dataItem>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="dataItem"></p-tableCheckbox>
                            </td>
                            <td>{{ dataItem.remitente }}</td>
                            <td>{{ dataItem.numero_ot }}</td>
                            <td>{{ dataItem.fecha_carga | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ dataItem.estado }}</td>
                            <td>{{ dataItem.orden_entrega }}</td>
                            <td>{{ dataItem.provincia_entrega }}</td>
                            <td>{{ dataItem.numero_manifiesto }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                

                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
