
<!-- Pantalla Principal -->
<div class="flex flex-col min-h-screen flex-auto ">
  <!-- Encabezado -->
  <div class="flex flex-col sm:flex-row items-center justify-between p-3 border-b dark:bg-transparent bg-card">
    <div class="flex-1 min-w-0">
      <div class="flex items-center font-medium">
        <a class="whitespace-nowrap text-primary-500">TTrack</a>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Comercial</a>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold leading-7 sm:leading-10 truncate">Ordenes de Transporte</h2>
      </div>
    </div>
  </div>

  <div class="flex flex-col p-2">

  </div>
  
<div class="flex flex-col p-6 bg-card ">




<!-- Contenido Principal -->

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">


     <!-- Clientes -->
     <div class="flex flex-col">
      <label for="listGrupos" class="font-semibold mb-1">Grupos</label>


      <p-dropdown 
        [options]="listGrupos" 
        [(ngModel)]="selectedGrupo" 
        optionLabel="label" 
        id="listClientes"
        appendTo="body" 
        (onChange)="cargarClientes()"
        [filter]="true" 
        placeholder="Selección de grupo">
      
        <ng-template let-item pTemplate="selectedItem">
          <span style="vertical-align:middle;">{{item.label}}</span>
          </ng-template>
      
      </p-dropdown>
    </div>


    <!-- Clientes -->
    <div class="flex flex-col">
      <label for="listClientes" class="font-semibold mb-1">Clientes</label>
      <p-multiSelect 
        [options]="listClientes" 
        [(ngModel)]="selectedClientes" 
        id="listClientes"
        appendTo="body" 
        [filter]="true" 
        class="fixed-multiselect"
        placeholder="Selección de clientes" />
    </div>

    <!-- Tipo Servicio -->
    <div class="flex flex-col">
      <label for="listvalortabla" class="font-semibold mb-1">Tipo Servicio</label>
      <p-dropdown  
        name="listvalortabla" 
        id="listvalortabla" 
        [options]="listValorTabla"
        [(ngModel)]="model.idvalortabla"
        placeholder="Selección de Tipo de Servicio" 
        class="w-full"
         />
    </div>

    <!-- Inicio Recojo -->
    <div class="flex flex-col">
      <label for="dateInicio" class="font-semibold mb-1">Inicio Recojo</label>
      <p-calendar 
        id="dateInicio"
        [(ngModel)]="dateInicio" 
        dateFormat="dd.mm.yy" 
        />
    </div>

    <!-- Fin Recojo -->
    <div class="flex flex-col">
      <label for="dateFin" class="font-semibold mb-1">Fin Recojo</label>
      <p-calendar 
        id="dateFin"
        [(ngModel)]="dateFin" 
        dateFormat="dd.mm.yy" 
        />
    </div>

    <!-- Botones -->
    <div class="flex flex-col md:col-span-2 lg:col-span-4 mt-4">
      <div class="flex justify-end space-x-2">
        <p-button   severity="primary" label="Buscar" icon="fa fa-search" (click)="buscar()">  </p-button>
        <p-button  severity="secondary" label="Planning" icon="fa fa-truck" (click)="mavivo()">   </p-button>
    </div>
  </div>
</div>
</div>
<div class="flex flex-col p-2">

</div>

<div class="flex flex-col p-6 bg-card ">
  
<p-table [value]="ordenes" responsiveLayout="scroll" 
selectionMode="single" dataKey="id"    #dt2 scrollable="true" scrollHeight="600px"
[globalFilterFields]="['numero_manifiesto']"
[paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">

<ng-template pTemplate="caption">
  <div class="flex">
      <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
              <i class="pi pi-search"></i>
          </p-inputIcon>
          <input 
              pInputText 
              type="text" 
              (input)="dt2.filterGlobal($event.target.value, 'contains')" 
              placeholder="Busca por manifiesto" />
      </p-iconField>
  </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th style="width: 50px">Acciones</th>
          <th style="width: 150px">Manifiesto</th>
          <th style="width: 150px">OT</th>
          <th style="width: 120px">Fecha carga</th>
          <th style="width: 100px">Shipment</th>
          <th style="width: 120px">OC</th>
          <th style="width: 120px">Estado</th>
          <th style="width: 100px">Remitente</th>
          <th style="width: 100px">Tracto</th>
          <th style="width: 150px">Carreta</th>
          <th style="width: 100px">Conductor</th>
          <th style="width: 100px">Tipo servicio</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-orden>
      <tr [pSelectableRow]="orden">
          <td>
                <p-button  severity="danger" size="small" (click)="editarCC(orden.id)"   icon="fa fa-edit"></p-button>
                <p-button  severity="info" size="small" (click)="editarCC(orden.id)"  icon="pi pi-clipboard"></p-button>
               
          </td>
          <td>{{orden.numero_manifiesto}}</td>
          <td>{{orden.numero_ot}}</td>
          <td>{{orden.fecha_carga | date:'dd/MM/yyyy'}}</td>
          <td>{{orden.shipment}}</td>
          <td>{{orden.oc}}</td>
          <td>{{orden.estado}}</td>
          <td>{{orden.remitente}}</td>
          <td>{{orden.tracto}}</td>
          <td>{{orden.carreta}}</td>
          <td>{{orden.chofer}}</td>
          <td>{{orden.tipoServicio}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        En total hay {{manifiestos ? manifiestos.length : 0 }} manifiestos.
    </div>
</ng-template>
</p-table>

</div>

</div>
