.bg-red-600 {
    background-color: #e63946 !important; /* Cambia a tu color deseado */
}

.bg-yellow-500 {
    background-color: #f1c40f !important; /* Cambia a tu color deseado */
}

.bg-green-600 {
    background-color: #2ecc71 !important; /* Cambia a tu color deseado */
}