
<ng-container *ngIf="(manifiesto$ | async) as manifiesto">
    <div class="p-4">
      <!-- Facturación Servicio -->
      <div class="flex flex-nowrap mx-2 mb-6">
       
          <p-checkbox   binary="true" 
           [(ngModel)]="manifiesto.estiba_Facturado" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                       Fecha Facturación Estiba
                    </label>
                    <p-calendar  [disabled]="!manifiesto.estiba_Facturado" #picker  [(ngModel)]="manifiesto.estiba_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Documento Estiba
                     </label>
                       <input  name="estibadocumento" pInputText  [(ngModel)]="manifiesto.estiba_Numerodoc" [disabled]="!manifiesto.estiba_Facturado"  placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Costo Estiba
                     </label>
                       <input  name="estiba" pInputText [(ngModel)]="manifiesto.estiba" [disabled]="!manifiesto.estiba_Facturado"  placeholder="Costo Estiba (-)" required>
                </div>
  
  
    </div>
  
    <div class="flex flex-nowrap mx-2 mb-6">
       
      <p-checkbox 
           [(ngModel)]="manifiesto.estibaAdicional_Facturado" binary="true" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                      Fecha Facturación Estiba Adicional
                    </label>
                    <p-calendar  [disabled]="!manifiesto.estibaAdicional_Facturado"  [(ngModel)]="manifiesto.estibaAdicional_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Documento Estiba Adicional
                     </label>
                       <input  pInputText name="estibaadicionaldocumento"  [(ngModel)]="manifiesto.estibaAdicional_Numerodoc" [disabled]="!manifiesto.estibaAdicional_Facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Costo Estiba Adicional
                     </label>
                       <input  pInputText name="estiba_adicional"  [(ngModel)]="manifiesto.estiba_Adicional" [disabled]="!manifiesto.estibaAdicional_Facturado"   placeholder="Costo Estiba Adicional (-)" required>
                </div>
  
  
    </div>
<!--   
    <div class="flex flex-nowrap mx-2 mb-6">
        <label
        class="k-checkbox-label"
        [for]="notification"
        text=""
      ></label>
      <input type="checkbox"
           [(ngModel)]="manifiesto.bejarano_pucallpa_facturado" #notification
           kendoCheckBox />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                       Fact. Oriental Cargo
                    </label>
                    <p-calendar  [disabled]="!manifiesto.bejarano_pucallpa_facturado"  [(ngModel)]="manifiesto.bejarano_pucallpa_fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Doc. Oriental Cargo
                     </label>
                       <input  pInputText name="bejaranopucallpadocumento"  [(ngModel)]="manifiesto.bejarano_pucallpa_numerodoc" [disabled]="!manifiesto.bejarano_pucallpa_facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Oriental Cargo
                     </label>
                       <input  pInputText name="bejaranopucallpa"  [(ngModel)]="manifiesto.bejaranopucallpa" [disabled]="!manifiesto.bejarano_pucallpa_facturado"   placeholder="Costo Bejarano Pucallpa (-)" required>
                </div>
  
  
    </div> -->
  
  
    <!-- <div class="flex flex-nowrap mx-2 mb-6">
        <label
        class="k-checkbox-label"
        [for]="notification"
        text=""
      ></label>
      <input type="checkbox"
           [(ngModel)]="manifiesto.bejarano_iquitos_facturado" #notification
           kendoCheckBox />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                       Facturación Bej, Iquitos
                    </label>
                    <p-calendar  [disabled]="!manifiesto.bejarano_iquitos_facturado"  [(ngModel)]="manifiesto.bejarano_iquitos_fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Documento Bej. Iquitos
                     </label>
                       <input  pInputText name="bejaranoiquitosadocumento"  [(ngModel)]="manifiesto.bejarano_iquitos_numerodoc" [disabled]="!manifiesto.bejarano_iquitos_facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Bej. Iquitos 
                     </label>
                       <input  pInputText name="bejaranopucallpa"  [(ngModel)]="manifiesto.bejaranoiquitos" [disabled]="!manifiesto.bejarano_iquitos_facturado"   placeholder="Costo Bejarano Iquitos(-)" required>
                </div>
  
  
    </div> -->
    <div class="flex flex-nowrap mx-2 mb-6">
      
      <p-checkbox  binary="true"
           [(ngModel)]="manifiesto.oriental_Facturado" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                       Fecha Facturación Oriental
                    </label>
                    <p-calendar  [disabled]="!manifiesto.oriental_Facturado" #picker  [(ngModel)]="manifiesto.oriental_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Documento Oriental
                     </label>
                       <input  pInputText name="orientaldocumento"  [(ngModel)]="manifiesto.oriental_Numerodoc" [disabled]="!manifiesto.oriental_Facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Oriental 
                     </label>
                       <input  pInputText name="orientalpucallpa"  [(ngModel)]="manifiesto.oriental" [disabled]="!manifiesto.oriental_Facturado"   placeholder="Costo Oriental(-)" required>
                </div>
  
  
    </div>
  
    <div class="flex flex-nowrap mx-2 mb-6">
       
      <p-checkbox binary="true"
           [(ngModel)]="manifiesto.fluvial_Facturado" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label   for="grid-last-name">
                       Fecha Facturación Fluvial
                    </label>
                    <p-calendar  [disabled]="!manifiesto.fluvial_Facturado" #picker  [(ngModel)]="manifiesto.fluvial_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Documento Fluvial
                     </label>
                       <input  pInputText name="fluvialdocumento"  [(ngModel)]="manifiesto.fluvial_Numerodoc" [disabled]="!manifiesto.fluvial_Facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label   for="grid-last-name">
                        Fluvial 
                     </label>
                       <input  pInputText name="fluvialpucallpa"  [(ngModel)]="manifiesto.Fluvial" [disabled]="!manifiesto.fluvial_Facturado"   placeholder="Costo Fluvial(-)" required>
                </div>
  
  
    </div>
  
    <div class="flex flex-nowrap mx-2 mb-6">
      
      <p-checkbox 
           [(ngModel)]="manifiesto.costoTercero_Facturado"   binary="true" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label  for="grid-last-name">
                      Fecha Facturación Costo Tercero
                    </label>
                    <p-calendar   [disabled]="!manifiesto.costoTercero_Facturado" [(ngModel)]="manifiesto.costoTercero_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label for="grid-last-name">
                        Documento Tercero
                     </label>
                       <input pInputText  name="costotercerodocumento"  [(ngModel)]="manifiesto.costoTercero_Numerodoc" [disabled]="!manifiesto.costoTercero_Facturado"  placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label  for="grid-last-name">
                        Tercero 
                     </label>
                       <input pInputText name="costotercero"  [(ngModel)]="manifiesto.costoTercero" [disabled]="!manifiesto.costoTercero_Facturado"  placeholder="Costo Fluvial(-)" required>
                </div>
  
  
    </div>

    <!-- COSTO TERCERO ADICIONAL -->
    <div class="flex flex-nowrap mx-2 mb-6">
   
      <p-checkbox 
           [(ngModel)]="manifiesto.costoTerceroAdicional_Facturado" value="costotercero_facturado"
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label  for="grid-last-name">
                       Fecha Fact. Costo Tercero Adicional
                    </label>
                    <p-calendar  [disabled]="!manifiesto.costoterceroAdicional_Facturado" [disabled]="!manifiesto.costoterceroadicional_facturado" [(ngModel)]="manifiesto.costoterceroadicional_fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label for="grid-last-name">
                        Doc. Tercero Adicional
                     </label>
                       <input  pInputText name="costoterceroadicionaldocumento"  [(ngModel)]="manifiesto.costoterceroadicional_numerodoc" [disabled]="!manifiesto.costoterceroadicional_facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label  for="grid-last-name">
                        Tercero Adicional 
                     </label>
                       <input  pInputText name="costoterceroadicional"  [(ngModel)]="manifiesto.costoterceroadicional" [disabled]="!manifiesto.costoterceroadicional_facturado"   placeholder="Costo Fluvial(-)" required>
                </div>
  
  
    </div>
  
    <div class="flex flex-nowrap mx-2 mb-6">
      <p-checkbox   value="otrosgastos_facturado"  binary="true"
           [(ngModel)]="manifiesto.otrosGastos_Facturado" 
            />
  
                <div class="w-full md:w-1/2 px-3 ">
                    <label  for="grid-last-name">
                      Fecha Facturación Otros Gastos
                    </label>
                    <p-calendar  [disabled]="!manifiesto.otrosGastos_Facturado" #picker [(ngModel)]="manifiesto.otrosGastos_Fecha"></p-calendar>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label  for="grid-last-name">
                        Documento Otros Gastos
                     </label>
                       <input  pInputText name="otrosgastosdocumento"  [(ngModel)]="manifiesto.otrosGastos_Numerodoc" [disabled]="!manifiesto.otrosGastos_Facturado"   placeholder="Número de Documento" required>
                </div>
                <div class="w-full md:w-1/2 px-3">
                    <label  for="grid-last-name">
                        Otros gastos
                     </label>
                       <input  pInputText name="otrosgastos"  [(ngModel)]="manifiesto.otrosGastos" [disabled]="!manifiesto.otrosGastos_Facturado"   placeholder="Otros gastos (-)" required>
                </div>
  
  
    </div>

    
      
    <!-- ALMACENAMIENTO -->
    <div class="flex flex-nowrap mx-2 mb-6">
        <p-checkbox   binary="true"  
             [(ngModel)]="manifiesto.otrosGastos3_Facturado"/>
    
                  <div class="w-full md:w-1/2 px-3 ">
                      <label  for="grid-last-name">
                         Facturación Almacenamiento 
                      </label>
                      <p-calendar  [disabled]="!manifiesto.otrosGastos3_Facturado" #picker [(ngModel)]="manifiesto.otrosGastos3_Fecha"></p-calendar>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                          Documento Almacenamiento
                       </label>
                         <input  pInputText name="Almacenamientodocumento"  [(ngModel)]="manifiesto.otrosGastos3_Numerodoc" [disabled]="!manifiesto.otrosGastos3_Facturado"   placeholder="Número de Documento" required>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                        Almacenamiento
                       </label>
                         <input  pInputText name="otrosgastos3"  [(ngModel)]="manifiesto.otrosGastos3" [disabled]="!manifiesto.otrosGastos3_Facturado"   placeholder="Almacenamiento (-) " required>
                  </div>
    
    
      </div>


    <!-- ALMACENAMIENTO ADICIONAL -->
    <div class="flex flex-nowrap mx-2 mb-6">
        <p-checkbox  binary="true" 
             [(ngModel)]="manifiesto.otrosGastos2_Facturado" 
              />
    
                  <div class="w-full md:w-1/2 px-3 ">
                      <label  for="grid-last-name">
                         Fact. Almacenamiento Adicional
                      </label>
                      <p-calendar  [disabled]="!manifiesto.otroGastos2_Facturado" #picker [(ngModel)]="manifiesto.otrosGastos2_Fecha"></p-calendar>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                          Doc. Almacenamiento Adicional
                       </label>
                         <input  pInputText name="otrosgastos2documento"  [(ngModel)]="manifiesto.otrosGastos2_Numerodoc" [disabled]="!manifiesto.otrosGastos2_Facturado"   placeholder="Número de Documento" required>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                        Almacenamiento Adicional
                       </label>
                         <input  pInputText name="otrosgastos2"  [(ngModel)]="manifiesto.otrosGastos2" [disabled]="!manifiesto.otrosGastos2_Facturado"   placeholder="Almacenamiento Adicinal(-)" required>
                  </div>
    
    
      </div>






  
  
      
      <div class="flex flex-nowrap mx-2 mb-6">
        <p-checkbox   binary="true"
             [(ngModel)]="manifiesto.otrosGastos4_Facturado" 
              />
    
                  <div class="w-full md:w-1/2 px-3 ">
                      <label  for="grid-last-name">
                         Fact. Poliza resguardo 
                      </label>
                      <p-calendar  [disabled]="!manifiesto.otrosGastos4_Facturado" #picker [(ngModel)]="manifiesto.otrosGastos4_Fecha"></p-calendar>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                          Doc. Poliza resguardo 
                       </label>
                         <input  pInputText name="otrosgastos3documento"  [(ngModel)]="manifiesto.otrosGastos4_Numerodoc" [disabled]="!manifiesto.otrosGastos4_Facturado"   placeholder="Número de Documento" required>
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                      <label  for="grid-last-name">
                        Poliza resguardo 
                       </label>
                         <input  pInputText name="otrosgastos3"  [(ngModel)]="manifiesto.otrosGastos4" [disabled]="!manifiesto.otrosGastos4_Facturado"   placeholder="Poliza (-)" required>
                  </div>
    
    
      </div>
   
    
  
      <div class="flex justify-end space-x-2 mt-4">
         <p-button icon="pi pi-folder"  severity="warning" label="Guardar"   (click)="guardar(manifiesto)"></p-button>
          <p-button icon="pi pi-times" label="Cerrar"  (click)="close()"></p-button> 
      </div>
    </div>

</ng-container>